* {
    margin: 0;
    padding: 0;
}
.nav-bar {
    height: 10vh;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100px;
}
.fc-logo {
    height: 21px;
    width: 75px;
    margin-top: 3px;
}
.ps-logo {
    height: 10px;
    width: 10px;
}
.italic {
    height: 15px;
    width: 78px;
    font-style: italic;
    font-size: 13px;
    margin-top: -5px;
    color: #ffffff;
}
.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-search input {
    height: 35px;
    width: 522px;
    padding: 0px 15px;
}
.nav-search button {
    height: 35px;
    width: 32px;
    margin-left: -2px;
    font-size: large;
}
.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}
.nav-account {
    width: 120px;
    text-align: center;
}
.nav-seller {
    width: 150px;
    text-align: center;
}
.nav-more {
    width: 70px;
    text-align: center;
}
.nav-cart {
    width: 90px;
    text-align: center;
}
.nav-cart i{
    font-size: larger;
}
.nav-bar2 {
    height: 112px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
}
.nav-bar2 div {
    height: 100px;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main {
    padding: 8px;
    background-color: rgb(242, 242, 242);
}
.slider-image {
    height: 43vh;
    width: 97vw;
    padding-bottom: 8px;
}
.slider-image-ind {
    background-image: url("slider_image.webp");
    height: 240px;
    width: 1440px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.product-section {
    height: 365px;
    width: 1440px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.text-offer {
    box-sizing: border-box;
    height: 350px;
    width: 208px;
    text-align: center;
    padding-top: 100px;
}
.text-offer p {
    font-size: 30px;
}
.text-offer button {
    height: 40px;
    width: 80px;
    font-size: 12px;
    margin-top: 30px;
    background-color: #2874f0;
    color: #ffffff;
    border: none;
}
.product {
    height: 350px;
    width: 204px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.product img:hover {
    height: 201px;
    width: 161px;
}
.off-section {
    height: 153px;
    width: 1448px;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.off {
    height: 150px;
    width: 360px;
}
.description {
    padding: 40px 30px;
    font-family: arial;
    font-size: 13px;
    color: #878787;
}
.foot-panel {
    height: 347px;
    background-color: rgb(9, 9, 56);
    color: #878787;
}
.foot-panel1 {
    height: 267px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff;
}
.fp1 {
    height: 194px;
    width: 196px;
    line-height: 22px;
}
.fp-2 {
    height: 194px;
    width: 283px;
}
.left-border {
    height: 120px;
    padding-left: 18px;
    border-left: 1px solid #878787;
}
.foot-panel2 {
    height: 80px;
    border-top: 1px solid #878787;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    color: #ffffff;
}